body{
    background-color: #0B0C10;
    color: white;
    /* text-shadow: 4px 4px 4px #000000; */
}
#net{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.topnav {
    background-color: #141619;
    overflow: hidden;
    position: fixed;
    top: 0;
  }
.paragraphs{
    width:18em;
    
    text-align: center;
}
.paragraphs:after{
    content:'';
    display:inline-block;
    width:100%;
    vertical-align:top;
}
.names{
    text-align: center;
}
#documentation{
  position: relative;
  top: 50px;

  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
 
  /* transform: translate(-50%, -50%); */ 
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0;
    text-decoration: none;
    color: white;
    background-color: black;
    text-align: center;
    
  }
  
  .topnav a:hover, .topnav a:active, .topnav a:focus {
    background-color: grey;
    color: black;
  }
  
  .bodytext{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .topnav a:hover {
    
    background-color: #66FCF1;
    color: black;
  }
  .topnav a.active {
    background-color: #66FCF1;
    color: black;
  }
  #goals{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .fade-in {
    opacity: 0;
    transition: opacity 2s ease-out;
}

.is-visible {
    opacity: 1;
}
#rscButton {
  background-color: black;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: #66FCF1;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#rscButton:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.bodytext{
  backdrop-filter: blur(4px);
}
.centered-list-container {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 100%;
  backdrop-filter: blur(4px);
  
}

.centered-list {
  list-style-type: none; /* Removes default list styling */
  padding: 0; /* Removes default padding */
  max-width: 600px; /* Adjust this value as needed */
}

.centered-list li::before {
  content: "- "; /* Adds a hyphen before each list item */
}
.centered-text-container {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 100%;
  backdrop-filter: blur(4px);
}

.centered-text {
  max-width: 600px; /* Adjust this value based on your content width requirements */
}
