body{
    background-color: #0B0C10;
    color: #66FCF1;
    
}
.topnav {
    background-color: #141619;
    overflow: hidden;
  }
.paragraphs{
    width:18em;
    
    text-align: center;
}
.paragraphs:after{
    content:'';
    display:inline-block;
    width:100%;
    vertical-align:top;
}
.names{
    text-align: center;
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav a:hover {
    background-color: #66FCF1;
    color: black;
  }
  .topnav a.active {
    background-color: #66FCF1;
    color: black;
  }
  #goals{
    padding-top: 20vh; 
  }
  
  .fade-in {
    opacity: 0;
    transition: opacity 2s ease-out;
}

.is-visible {
    opacity: 1;
}

.centered-list-container {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 100%;
}

.centered-list {
  list-style-type: none; /* Removes default list styling */
  padding: 0; /* Removes default padding */
  max-width: 600px; /* Adjust this value as needed */
}

.centered-list li::before {
  content: "- "; /* Adds a hyphen before each list item */
}
.centered-text-container {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 100%;
}

.centered-text {
  max-width: 600px; /* Adjust this value based on your content width requirements */
}